# Entorno virtual
venv/
.env
*.env

# Archivos de base de datos y temporales
tmp/
*.db
*.sqlite3

# Bytecode de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de log y exportaciones
*.log
*.xlsx

# Configuración de editores
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Excepciones para incluir la base de datos salud_adulto
!tmp/
!tmp/salud_adulto.db